#carousel-slide {
    color: black;
}

* {
    font-family: Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    color: rgb(216, 212, 212);
}


#modalBody{
    height: 150px;
    margin-left: 160px;

}

.modal-icon {
    padding: 0px 0px 0px 0px;
}

#modalpic{
    position: fixed;
}

.show-on-hover:hover > ul.dropdown-menu {   
    display: block;  
 }
 
body {

 /* background-color: #e0ebfc; */
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
 }
 
.shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold; 
}

.diffcolor {
 color: black;
 text-shadow: black 0.1em 0.1em 0.2em;
 font-weight: bold;
 }

h2 {
 padding-top: 2cm;
}

.modal-body {
 padding: 20px 20px 20px 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

