/* Stylesheet by Kim Sundeen, 2017 */
/* Used for scaling both maps on 1 page
#osMapId, #bubblemanId { 
    height: 200px; 
}
*/

* {
 text-align: center;
 font-family: "Roboto Slap", Corbel, sans-serif;
 /*background-color: #87CEEB;*/
}

#schoolmap { 
    height: 400px; 
    width: 100%;
    display: inline-block;
    background-color: #bcbcbc;
    
}

.layerbutton {
    border-radius: 15px;
    padding: 6px;
    background-color: orange;
    color: black;
    font-size: 15px;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 15px;
    cursor: pointer;
    margin: 2px;
}

#titlebar {
    height: auto;
    width: 50%;
    position: right;
    top: 10px;
    background-color: black;
}

#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 100%;
}

#sliderpanel {
    width: 35%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}


.leaflet-popup-content p {
    align-content: center;
    margin: 1em 0; /* this didn't do anything */
    line-height: 1.0; 
}

.legend-control-container {
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#temporal-legend {
    line-height: 20px;
}

#attribute-legend {
/*    position: absolute;*/
    bottom: 5px;
    left: 0px;
}

